<div>
  <% comments.reverse_each do |comment| %>
    <div class="card">
      <div class="card-body">
        <div class="card-title">
          <%= link_to (comment.user) do %>
            <%= attachment_image_tag comment.user, :profile_image, size:'50x50', format: 'jpeg', class: "rounded-circle", fallback: "default_user.jpg" %>
          <a><%= comment.user.name %><a>
          <% end %>
          <%= link_to (comment.gym) do %>
          <a><%= comment.gym.name %><a>
          <% end %>
          <a><%= comment.comment_seq %>回目の訪問</a><!--コメントモデルでメソッドを定義-->
          <a><%= comment.created_at.strftime('%Y/%m/%d') %></a>
        </div>
        <div class="card-text"><%= attachment_image_tag comment, :comment_image, :fill, 100, 100, format: 'jpeg' %></div>
        <div class="card-text"><%= simple_format(comment.comment) %></div>
        <div class="text-sm-right"><%= link_to "続きを読む", comment_path(comment) %></div>
          <% if comment.user == current_user %>
            <% if request.path.include?('gym') %>
                <div class="text-sm-right"><%= link_to "削除", gym_comment_path(comment.gym,comment), class: "btn btn-danger", data: {confirm: "Are you sure?"}, method: :delete, remote:true %></div>
            <% elsif request.path.include?('user') %>
                <div class="text-sm-right"><%= link_to "削除", user_comment_path(comment.user,comment), class: "btn btn-danger", data: {confirm: "Are you sure?"}, method: :delete, remote:true %></div>
            <% else %>
                <div class="text-sm-right"><%#= link_to "削除", comments_path(comment.user,comment), class: "btn btn-danger", data: {confirm: "Are you sure?"}, method: :delete, remote:true %></div>
            <% end %>
          <% end %>
        </div>
      </div>
  <% end %>
  <%= paginate comments, params: { controller: 'users', action: 'show' } %>
</div>
