<div class="row">
  <div class="col-sm-12">
    <div class="jumbotron" style="background: rgba(255,255,255,0.9)">
      <% if @user.id == current_user.id %>
      <div class="row justify-content-end">
          <%= link_to edit_comment_path(@comment), class: 'btn btn-raised btn-dark' do %>
            <i class="fa fa-tools fa-sm"></i>
            <span>ノボログ編集</span>
          <% end %>
      </div>
      <% end %>
      <div class="row">
        <%= link_to (@comment.gym) do %>
          <h2><%= @comment.gym.name %></h2>
        <% end %>
      </div>
      <div class="row"><p><%= @comment.gym.address.truncate(20) %></p></div>
      <div class="row">
        <%= link_to "施設情報", gym_path(@gym), class:"btn btn-raised btn-primary" %>
      </div>
      <hr size="10">
      <div class="row">
        <div class="user-info">
          <%= link_to (@comment.user) do %>
            <%= attachment_image_tag @comment.user, :profile_image, size:'50x50', format: 'jpeg', class: "rounded-circle", fallback: "default_user.jpg" %>
            <%= @comment.user.name %>
          <% end %>
          <a class="comment-info">投稿日：<%= @comment.created_at.strftime('%Y/%m/%d') %></a>
          <a class="comment-info"><%= @comment.comment_seq %>回目の訪問</a><!--コメントモデルでメソッドを定義-->
        </div>
      </div>
      <div class="row">
          <div class="col-sm-3">
            <div class="comment-img"><%= attachment_image_tag @comment, :comment_image, size: "400x400", format: 'jpeg' %></div>
          </div>
          <div class="col-sm-7">
            <div class="text"><%= simple_format(@comment.comment)%></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
