<%= render 'users/info', user: @user %>
<div class="row">
  <div class="col-sm-12">
    <div class="jumbotron" style="background-color:#EBD9B9">
      <h1 class="display-4">ノボログ詳細</h1>
      <hr class="my-4"><h1>
        <%= link_to (@comment.gym) do %>
          <%= @comment.gym.name %>
        <% end %></h1>
      <div class="text-sm-right">
      <a><%= @comment.comment_seq %>回目の訪問</a><!--コメントモデルでメソッドを定義-->
      <a><%= @comment.created_at.strftime('%Y/%m/%d') %></a>
      <% if @user.id == current_user.id %>
        <%= link_to edit_comment_path(@comment), class: 'btn btn-dark' do %>
        <i class="fa fa-tools fa-sm"></i>
        <span>ノボログ編集</span>
        <% end %>
      <% end %>
      </div>
      <div class="row justify-content-center">
        <table>
          <tr>
            <td><%= attachment_image_tag @comment, :comment_image, size:"400x300", format: 'jpeg', class: "rounded", fallback: "gym_default.jpg" %>
          </tr>
          <tr>
            <td><%= simple_format(@comment.comment) %></td>
          </tr>
        </table>
      </div>
      <div class="row justify-content-center">
        <%= link_to "戻る", user_path(@user), class:"btn btn-primary"%>
      </div>
      <div class="row justify-content-center">
        <%= link_to "このジムの詳細を見る", gym_path(@gym), class:"btn btn-primary"%>
      </div>
    </div>
  </div>
</div>
