  <div class="col-sm-3">
    <%= link_to user_path(user) do %>
      <i class="btn btn-raised btn-secondary far fa-clipboard" aria-hidden="true">　<%= user.name %>さんのノボログ <%= user.comments.count %></i>
    <% end %>
  </div>
  <div class="col-sm-3">
    <%= link_to following_user_path(user) do %>
      <i class="btn btn-raised btn-secondary fa fa-user-circle" aria-hidden="true">
        <span id="follower_count_<%= user.id %>"><%= user.name %>さんのフォロー</span></i>
    <% end %>
  </div>
  <div class="col-sm-3">
    <%= link_to followers_user_path(user) do %>
      <i class="btn btn-raised btn-secondary fa fa-user-circle" aria-hidden="true">
        <span id="followed_count_<%= user.id %>"><%= user.name %>さんのフォロワー</span></i>
    <% end %>
  </div>
  <div class="col-sm-3">
    <% if user.id == current_user.id %>
      <%= link_to edit_user_path(user), data: {"turbolinks" => false}, class: 'btn btn-raised btn-dark btn-sm' do %>
        <i class="fa fa-tools fa-sm"></i>
        <span>登録情報編集</span>
      <% end %>
    <% else user.id != current_user.id %>
      <div id="follow_btn">
        <%= render 'relationships/follow', user: user %>
      </div>
    <% end %>
  </div>
