<div class="row">
  <div class="col-sm-12">
    <div class="jumbotron">
      <span class="profile_image">
      <%= link_to user_path(user) do %>
        <%= attachment_image_tag user, :profile_image, size:'100x100', format: 'jpeg', class: "rounded-circle", fallback: "default_user.jpg" %>
      <% end %>
      </span>
      <span class="display-4"><%= user.name %></span>
      <div class="text-sm-right">
      <% if user.id == current_user.id %>
        <%= link_to edit_user_path(user), data: {"turbolinks" => false}, class: 'btn btn-dark' do %>
        <i class="fa fa-tools fa-sm"></i>
        <span>ユーザー情報修正</span>
        <% end %>
      <% end %>
      </div>
      <table>
          <th>プロフィール</th>
          <% if @user.introduction.nil? %>
            <td><%= user.introduction %></td>
          <% else %>
            <td><%= safe_join(user.introduction.split("\n"),tag(:br)) %></td>
          <% end %>
        </tr>
      </table>
    </div>
  </div>
</div>