<div class="row">
  <div class="col-sm-12">
    <div class="jumbotron" style="background-color:#EBD9B9">
      <span class="profile_image">
      <%= link_to user_path(user) do %>
        <%= attachment_image_tag user, :profile_image, size:'100x100', format: 'jpeg', class: "rounded-circle", fallback: "default_user.jpg" %>
      <% end %>
      </span>
      <span class="display-4"><%= user.name %></span>
      <div class="text-sm-right">
      <% if user.id == current_user.id %>
        <%= link_to edit_user_path(user), data: {"turbolinks" => false}, class: 'btn btn-dark' do %>
        <i class="fa fa-tools fa-sm"></i>
        <span>ユーザー情報修正</span>
        <% end %>
      <% end %>
      <% if current_user != user %>
        <% if current_user.following?(user) %>
          <%= link_to 'フォロー外す', unfollow_path(user.id), method: :POST %>
        <% else %>
          <%= link_to 'フォローする', follow_path(user.id), method: :POST %>
        <% end %>
      <%end %>
      フォロー
      <%= link_to user.follower.count, following_user_path(user) %>
      forowa-
      <%= link_to user.followed.count, followers_user_path(user) %>
      </div>
      <table>
        <tr>
          <th>プロフィール</th>
          <% if @user.introduction.nil? %>
            <td><%= user.introduction %></td>
          <% else %>
            <td><%= safe_join(user.introduction.split("\n"),tag(:br)) %></td>
          <% end %>
        </tr>
      </table>
    </div>
  </div>
</div>
