<div>
    <%= render 'users/info', user: @user %>
</div>
<div class="row">
    <div class="col-sm-5">
        <div class="card" style="background-color:#EBD9B9">
            <div class="card-body">
            <h4 class="card-title"><%= @user.name %>さんの登りたいジム</h4>
                    <% @clip_gyms.reverse_each do |gym| %>
                    <div class="card">
                        <div class="card-body">
                            <table>
                                <tr>
                                    <td><%= link_to attachment_image_tag(gym, :gym_image, size:"70x70", fallback: "gym_default.jpg"),gym_path(gym.id) %></td>
                                    <td><%= gym.name %></td>
                                    <td id="clips_btns_<%= gym.id %>"> 
                                    <%= render partial: 'clips/clip', locals: {gym: gym} %>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                <% end %>
                </div>
            </div>
        </div>
    <div class="col-sm-7">
        <div class="card" style="background-color:#EBD9B9">
            <div class="card-body">
                <h3 class="card-title"><%= @user.name %>さんのノボログ</h3>
                 <div id="gym_comments">
                    <%= render partial: 'comments/index', locals: {comments: @comments, gym: @gym, user: @user} %>
                </div>
                <%= paginate @comments %>
            </div>
        </div>
    </div>
</div>