<div>
    <div class="row">
  <div class="col-sm-12">
    <div class="jumbotron" style="background-color:#EBD9B9">
      <div class="row">
        <div class="col-sm-2 profile_image">
        <%= link_to user_path(@user) do %>
          <%= attachment_image_tag @user, :profile_image, size:'150x150', format: 'jpeg', class: "rounded-circle", fallback: "default_user.jpg" %>
        <% end %>
        </div>
        <div class="col-sm-8 display-4"><%= @user.name %></div>
        <div class="col-sm-2">
        <% if @user.id == current_user.id %>
          <%= link_to edit_user_path(@user), data: {"turbolinks" => false}, class: 'btn btn-dark btn-sm' do %>
            <i class="fa fa-tools fa-sm"></i>
            <span>登録情報編集</span>
          <% end %>
        <% end %>
        </div>
      </div>
      <table>
        <tr>
          <th>プロフィール</th>
          <% if @user.introduction.nil? %>
            <td><%= @user.introduction %></td>
          <% else %>
            <td><%= safe_join(@user.introduction.split("\n"),tag(:br)) %></td>
          <% end %>
        </tr>
      </table>

          <%= render 'relationships/follow_stats', user: @user %>

    </div>
  </div>
</div>
    <% if current_user != @user %>
        <div id="follow_btn">
          <%= render 'relationships/follow', user: @user %>
        </div>
    <% end %>

</div>
<div class="row">
    <div class="col-sm-5">
        <%= render 'users/clip_gyms', user: @user, clip_gyms: @clip_gyms %>
    </div>
    <div class="col-sm-7">
        <div class="card" style="background-color:#EBD9B9">
            <div class="card-body">
                <h3 class="card-title"><%= @user.name %>さんのノボログ</h3>
                 <div id="gym_comments">
                    <%= render partial: 'comments/index', locals: {comments: @comments, gym: @gym, user: @user} %>
                </div>
                <div class="row justify-content-center">
                    <%= paginate @comments %>
                </div>
            </div>
        </div>
    </div>
</div>