<div class="jumbotron"> 
<h1 id="room" data-room="<%= @room.id %>" data-user="<%= current_user.id %>"><%= @user.name %> さんとのチャット</h1>
  <div class="message">
    <% @chats.each do |chat| %>
      <%= render "chats/messages", chat: chat %>
    <% end %>
  </div>
  <div class="form">
  <%= form_with model: @chat do |f| %>
    <%= f.text_field :message %>
    <%= f.hidden_field :room_id %>
  <% end %>
  </div>
</div> 