<h1 id="room" data-room="<%= @room.id %>" data-user="<%= current_user.id %>"><%= @user.name %> さんとのチャット</h1>

<%= render "chats/messages", chats: @chats %>

<%= form_with model: @chat do |f| %>
  <%= f.text_field :message %>
  <%= f.hidden_field :room_id %>
<% end %>