<div class="row">
  <div class="col-sm-12">
    <div class="card" style="background-color:#EBD9B9">
      <div class="card-body">
        <div class="card-title">ジム情報登録</div>
        <div class="card-text-center">
         <div class="form-group">
            <%= form_with model:gym, local:true do |f| %>
              <%= render 'layouts/error_messages', model: f.object %>
              <div><%= f.label :image, "ジム画像" %></div>
              <div class="row justify-content-center"><img id="preview" style="width:40%;"></div>
              <div class="row justify-content-center"><%= f.attachment_field :gym_image %></div>
              <div><%= f.label :name %></div>
              <div><%= f.text_field :name, class: "form-control", placeholder:"例：B-PUMP TOKYO" %></div>
              <div><%= f.label :address %></div>
              <div><%= f.text_area :address,  class: "form-control", placeholder:"例：東京都文京区湯島１丁目１−８"  %></div>
              <div><%= f.label :tel %></div>
              <div><%= f.text_field :tel,  class: "form-control", placeholder:"例：03-6206-9189" %></div>
              <div><%= f.label :open_time %></div>
              <div><%= f.text_area :open_time,  class: "form-control", placeholder:"例：平日	12:00～23:00"  %></div>
              <div><%= f.label :price %></div>
              <div><%= f.text_area :price,  class: "form-control", placeholder:"例：平日・通日	2,000円(税抜)"  %></div>
              <div><%= f.label :holiday %></div>
              <div><%= f.text_area :holiday,  class: "form-control", placeholder:"例：年中無休"  %></div>
              <div><%= f.label :access %></div>
              <div><%= f.text_area :access,  class: "form-control", placeholder:"例：JR「秋葉原駅」徒歩5分"  %></div>
              <div><%= f.label :url %></div>
              <div><%= f.text_field :url,  class: "form-control", placeholder:"URL"  %></div>
              <div><%= f.label :introduction %></div>
              <div><%= f.text_area :introduction,  class: "form-control", placeholder:"課題の傾向や特徴、紹介したいこと" %></div>
              <div class="row justify-content-center">
              <%= f.submit "登録を完了する", class:"btn btn-raised btn-success" %>
            <% end %>
              <% if current_user.admin? %>
                <%= link_to "ジム情報を削除", @gym, class: "btn btn-raised btn-danger", data: {confirm: "本当に削除してよろしいですか?"}, method: :delete %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>