<div class="row">
    <div class="col-sm-12">
        <div class="jumbotron">
            <div class="row justify-content-center">
               <div><%= form_with model:@gym, local:true do |f| %>
                  <table>
                      <tr>                      
                        <th> <%= f.label :ジム画像登録 %></th>
                        <td><%= attachment_image_tag @gym, :gym_image, :fill, 100, 100, format: 'jpeg', class: "rounded-circle", fallback: "gym_default.jpg" %>
                            <%= f.attachment_field :gym_image %></td>
                      </tr>
                      <tr>                      
                        <th><%= f.label :ジム名 %></th>
                        <td><%= f.text_field :name, autofocus: true, autocomplete: 'ジム名' %></td>
                      </tr>
                      <tr>                      
                        <td>営業時間</td>
                        <td><%= simple_format(@gym.open_time) %></td>
                      </tr>
                      <tr>                      
                        <td>利用料金</td>
                        <td><%= simple_format(@gym.price) %></td>
                      </tr>
                      <tr>                      
                        <td>定休日</td>
                        <td><%= simple_format(@gym.holiday) %></td>
                      </tr>
                      <tr>                      
                        <td>公式HP</td>
                        <td><%= simple_format(@gym.url) %></td>
                      <tr>                      
                        <td>どんなジム</td>
                        <td><%= simple_format(@gym.introduction) %></td>
                      </tr>
                      </table>

    <!--image プレビュー　-->

        <%= f.label :introduction %>
        <%= f.text_area :introduction, autofocus: true, autocomplete: '電話番号' %>
        <%= f.label :postcode %>
        <%= f.text_area :postcode, autofocus: true, autocomplete: '郵便番号' %>
        <%= f.label :state %>
        <%= f.text_area :state, autofocus: true, autocomplete: '' %>
        <%= f.label :address %>
        <%= f.text_area :address, autofocus: true, autocomplete: '' %>
        <%= f.label :url %>
        <%= f.text_area :url, autofocus: true, autocomplete: '' %>
        <%= f.label :open_time %>
        <%= f.text_area :price, autofocus: true, autocomplete: '' %>
        <%= f.submit "登録", class:"btn btn-primary" %>
    <% end %>
</div>