<div class="row">
    <div class="col-sm-12">
        <div class="jumbotron">
            <div class="row justify-content-center">
               <div><%= form_with model:@gym, local:true do |f| %>
                  <table>
                      <tr>                      
                        <th> <%= f.label :ジム画像登録 %></th>
                        <td><%= attachment_image_tag @gym, :gym_image, :fill, 100, 100, format: 'jpeg', class: "rounded-circle", fallback: "gym_default.jpg" %>
                            <%= f.attachment_field :gym_image %></td>
                      </tr>
                      <tr>                      
                        <th><%= f.label :name, "ジム名" %></th>
                        <td><%= f.text_field :name, class: "form-control", autofocus: true, autocomplete: 'ジム名' %></td>
                      </tr>
                      <tr>                      
                        <th><%= f.label :postcode, "郵便番号" %></th>
                        <td><%= f.text_field :address,  class: "form-control", autofocus: true, autocomplete: '' %></td>
                      </tr>
                      <tr>                      
                        <th><%= f.label :address, "住所" %></th>
                        <td><%= f.text_area :address,  class: "form-control", autofocus: true, autocomplete: '' %></td>
                      </tr>
                      <tr>                      
                        <th><%= f.label :open_time, "営業時間" %></th>
                        <td><%= f.text_area :open_time,  class: "form-control", autofocus: true, autocomplete: '' %></td>
                      </tr>
                      <tr>                      
                        <th><%= f.label :price, "利用料金" %></th>
                        <td><%= f.text_area :price,  class: "form-control", autofocus: true, autocomplete: '' %></td>
                      </tr>
                      <tr>                      
                        <th><%= f.label :holiday, "定休日" %></th>
                        <td><<%= f.text_area :holiday,  class: "form-control", autofocus: true, autocomplete: '' %></td>
                      </tr>
                      <tr>                      
                        <th><%= f.label :access, " アクセス方法" %></th>
                        <td><<%= f.text_area :access,  class: "form-control", autofocus: true, autocomplete: '' %></td>
                      </tr>
                      <tr>                      
                        <th><%= f.label :url, "URL" %></th>
                        <td><%= f.text_field :url,  class: "form-control", autofocus: true, autocomplete: '' %></td>
                      <tr>                      
                        <th><%= f.label :introduction, "ジム紹介" %></th>
                        <td><%= f.text_area :introduction,  class: "form-control", autofocus: true, autocomplete: '' %></td>
                      </tr>
                      </table>
        <%= f.submit "登録", class:"btn btn-primary" %>
    <% end %>
</div>