ジム登録画面
<div>
    <%= form_with model:@gym, url:gyms_path,local:true do |f| %>
    <!--image プレビュー　-->
        <%= attachment_image_tag @gym, :gym_image, size:"500x500", fallback: "default_user.jpg" %>
        <%= f.attachment_field :gym_image %>
        <%= f.label :name %>
        <%= f.text_field :name, autofocus: true, autocomplete: 'ユーザー名' %>
        <%= f.label :introduction %>
        <%= f.text_area :introduction, autofocus: true, autocomplete: 'ジム紹介' %>
        <%= f.label :postcode %>
        <%= f.text_field :postcode, autofocus: true, autocomplete: '郵便番号' %>
        <%= f.label :state %>
        <%= f.text_field :state, autofocus: true, autocomplete: '都道府県' %>
        <%= f.label :address %>
        <%= f.text_area :address, autofocus: true, autocomplete: '住所' %>
        <%= f.label :url %>
        <%= f.text_field :url, autofocus: true, autocomplete: 'HP' %>
        <%= f.label :open_time %>
        <%= f.text_field :open_time, autofocus: true, autocomplete: '営業時間' %>
        <%= f.label :price %>
        <%= f.text_field :price, autofocus: true, autocomplete: '料金' %>
        <%= f.label :holiday %>
        <%= f.text_field :holiday, autofocus: true, autocomplete: '定休日' %>
        <%= f.label :access %>
        <%= f.text_area :access, autofocus: true, autocomplete: 'アクセス' %>
        <%= f.submit "新規登録", class:"btn btn-primary" %>
    <% end %>
</div>