<div class="row">
    <div class="col-12">
        <div class="jumbotron">
            <div class="row justify-content-center">
                <%= search_form_for @search, url: search_gyms_path do |f| %>
                <%= f.text_field :name_or_address_or_introduction_cont, placeholder: "施設名、エリア、登ってみたい壁を入力してください...", size: "100x10", class: 'input form-control' %>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">検索</button>
                <% end %>
            </div>
        <% if params[:q]['name_or_address_or_introduction_cont'] == "" %>
            <div class="row justify-content-center"><%= "検索キーワードがありません" %></div>
        <% elsif @search_gyms.present? %>
            <div><%= "「#{params[:q]['name_or_address_or_introduction_cont']}」の検索結果: #{@search_gyms.count}件" %></div>
        </div>
    </div>
</div>
<div class="col-12">
    <div class="card-columns">
        <% @search_gyms.each do |gym| %>
        <div class="card rounded-3 text-white bg-info ">
            <div class="embed-responsive">
                <%= attachment_image_tag gym, :gym_image, size:"400x300", fallback: "gym_default.jpg" %>
            </div>      
            <div class="card-body">
                <div class="card-title"><%= link_to gym_path(gym.id), class: "text-white stretched-link" do %><%= gym.name %></div>
                 <% end %>
                <div id="clips_btns_<%= gym.id %>"> 
                  <%= render partial: 'clips/clip', locals: {gym: gym} %>
                </div>
                <div class="card-text">                
                    <p>施設利用料金：<%= gym.price %></p>
                    <p>定休日：<%= gym.holiday %></p>
                    <p>営業時間：<%= gym.open_time %></p>
                    <p>ノボログ：<%= gym.comments.count %></p>
                </div>
            </div>
        </div>
        <% end %>
    </div>
</div>
<%= paginate @search_gyms %>
<% else %>
    <%= "検索に一致するジムはありませんでした" %>
<% end %>
