<div class="row">
    <div class="col-12">
        <div class="jumbotron" style="background: rgba(255,255,255,0.9)">
            <div class="row justify-content-center">
                <%= search_form_for @search, url: search_gyms_path do |f| %>
                <%= f.text_field :name_or_address_or_introduction_cont, placeholder: "施設名、エリア、登ってみたい壁を入力してください...", size: "100x10", class: 'form-control' %>
                <button class="btn btn-raised btn-info btn-lg btn-block" type="submit">検索</button>
                <% end %>
            </div>
        <% if params[:q]['name_or_address_or_introduction_cont'] == "" %>
            <div class="row justify-content-center"><p>検索キーワードがありません</p></div>
        <% elsif @search_gyms.present? %>
            <div class="row justify-content-center"><%= "「#{params[:q]['name_or_address_or_introduction_cont']}」の検索結果: #{@search_gyms.count}件" %></div>
        </div>
    </div>
</div>
<div class="col-12">
    <div class="card-columns">
        <%= render 'gyms/index', gyms: @search_gyms, gym: @gym %>
    </div>
</div>
<%= paginate @search_gyms %>
<% else %>
<div class="row justify-content-center">
    <p>検索に一致するジムはありませんでした。</p>
    <p>キーワードを変えて検索してみてください</p>
</div>
<div class="row justify-content-center">
    <a>登ったジムの情報がなければ是非登録をお願いします</a>
</div>    
<div class="row justify-content-center">
    <%= link_to 'ジム登録', new_gym_path, class: "btn btn-primary btn-lg" %>
</div>
<% end %>
