ジム詳細
<div>
    <%= attachment_image_tag @gym, :gym_image, size:"500x500", fallback: "default_user.jpg" %>
    <%= @gym.name %>
    <%= @gym.introduction %>
    <%= @gym.tel %>
    <%= @gym.state %>
    <%= @gym.address %>
    <%= @gym.postcode %>
    <%= @gym.url %>
    <%= @gym.open_time %>
    <%= @gym.price %>
    <%= @gym.holiday %>
    <%= @gym.access %>
</div>