ジム詳細
<div>
    <%= link_to "ジム情報編集", edit_gym_path(@gym) %>
    <%= attachment_image_tag @gym, :gym_image, size:"500x500", fallback: "gym_default.jpg" %>
    <%= @gym.name %>
    <%= @gym.introduction %>
    <%= @gym.tel %>
    <%= @gym.state %>
    <%= @gym.address %>
    <%= @gym.postcode %>
    <%= @gym.url %>
    <%= @gym.open_time %>
    <%= @gym.price %>
    <%= @gym.holiday %>
    <%= @gym.access %>
</div>
<div>
  <a href="#comments"><%= @gym.comments.count %></a>
    <h2 class="comment-count"><%#= user.comments.count %>回の来店</h2>
    <!--ユーザーごとのコメント回数を取得したい-->
  </div>
</div>
<div>
  <% @gym.comments.each do |comment| %>
    <%= link_to (comment.user) do %>
      <%= attachment_image_tag @user, :profile_image, :fill, 50, 50, format: 'jpeg', class: "rounded-circle", fallback: "default_user.jpg" %>
      <%= comment.user.name %>
    <% end %>
    <%= post_comment.created_at.strftime('%Y/%m/%d') %>
    <%= comment.comment %>
  <% end %>
</div>
<div>
  <%= form_with model:[@gym,@comment], local: true do |f| %>
    <%= f.text_area :comment, size:"90x5", placeholder: "コメントをどうぞ" %>
</div>
<div>
    <%= f.submit "コメントする", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
  <% end %>
</div>
    