ジム詳細
<div>
    <%= link_to "ジム情報編集", edit_gym_path(@gym) %>
    <%= attachment_image_tag @gym, :gym_image, size:"500x500", fallback: "gym_default.jpg" %>
    <%= @gym.name %>
    <%= @gym.introduction %>
    <%= @gym.tel %>
    <%= @gym.state %>
    <%= @gym.address %>
    <%= @gym.postcode %>
    <%= @gym.url %>
    <%= @gym.open_time %>
    <%= @gym.price %>
    <%= @gym.holiday %>
    <%= @gym.access %>
</div>
<div>
  <%= form_with model:[@gym,@comment] do |f| %>
    <%= f.text_area :comment, size:"90x5", placeholder: "コメントをどうぞ" %>
    <%= f.submit "コメントする", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
  <% end %>
</div>
<table>
  <td class="comments_count"><%= @gym.comments.count %>件のログ</td>
</table>
<table class="gym_comments">
  <%= render 'comments/index', gym: @gym, user: @user %>
</table>
