ユーザー詳細
<div>
    <% if @user.id == current_user.id %>
        <%= link_to "プロフィール編集", edit_user_path(@user) %>
    <% end %>
    <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', class: "rounded-circle", fallback: "default_user.jpg" %>
    <%= @user.name %>
    <%= @user.gym_id %>
    <%= @user.introduction %>
</div>