<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= @gym.name %></h5>
        <div class="card-text">
          <div class="embed-responsive"><%= attachment_image_tag @gym, :gym_image, size:"400x300", fallback: "gym_default.jpg" %></div>
          <div id="clips_btns_<%= @gym.id %>"> 
            <%= render partial: 'clips/clip', locals: {gym: @gym} %>
          </div>
          <table>
            <td class="comments_count"><%= @gym.comments.count %>件のノボ活</td>
          </table>
          <div>地図</div>
          <div id="map"></div>
          <%= link_to "ジム情報編集", edit_gym_path(@gym), class: "btn btn-primary" %></div>
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Gym info</h5>
        <div class="card-text">
          <table>
          <tr>                      
            <th>住所</th>
            <td><%= simple_format(@gym.state) %></td>
          </tr>
          <tr>                      
            <td>電話番号</td>
            <td><%= simple_format(@gym.tel) %></td>
          </tr>
          <tr>                      
            <td>営業時間</td>
            <td><%= simple_format(@gym.open_time) %></td>
          </tr>
          <tr>                      
            <td>利用料金</td>
            <td><%= simple_format(@gym.price) %></td>
          </tr>
          <tr>                      
            <td>定休日</td>
            <td><%= simple_format(@gym.holiday) %></td>
          </tr>
          <tr>                      
            <td>公式HP</td>
            <td><%= simple_format(@gym.url) %></td>
          <tr>                      
            <td>どんなジム</td>
            <td><%= simple_format(@gym.introduction) %></td>
          </tr>
          </table>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
      <h5 class="card-title"><%= @gym.name %>のノボ活</h5>
      <div class="card-text"> 
        <div class="form_group"> 
          <%= form_with model:[@gym,@comment] do |f| %>
          <%= f.text_area :comment, size:"95x5", class: "form-control", placeholder: "登った本数、課題について、書き込んでみましょう" %>
          <%= f.submit "ノボッタ！", class: "btn btn-primary btn-lg btn-block" %>
          <% end %>
        </div>
      </div>
    <div class="gym_comments">
      <%= render 'comments/index', gym: @gym, user: @user %>
    </div>
  </div>
</div>
    <p>test用
      <strong>Address:</strong>
      <%= @gym.address %>
    </p>
    
    <p>
      <strong>Latitude:</strong>
  <%= @gym.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @gym.longitude %>
</p>



<style type="text/css">
  #map { height: 400px;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
    width: 80%;}
</style>

<script type="text/javascript">
    function initMap() {

        var test ={lat: <%= @gym.latitude %>, lng: <%= @gym.longitude %>};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: test
        });
        var transitLayer = new google.maps.TransitLayer();
        transitLayer.setMap(map);

        var contentString = '住所：<%= @gym.state %>';
        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });

        var marker = new google.maps.Marker({
            position:test,
            map: map,
            title: contentString
        });

        marker.addListener('click', function() {
            infowindow.open(map, marker);
        });
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
</script>