<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <%= link_to root_path, class: "nav-link" do %><span class="logo">KABESHIRU</span><% end %>
      </div>
      <div class="col-md-4">
        <ul class="menu">
          <span>ジムを探す</span>   
          <li class="nav-item">
            <%= link_to "/", class: "nav-link" do %><i class="fas fa-search">ジムを探す</i><% end %>
          </li>
          <li class="nav-item">
            <%= link_to new_gym_path, class: "nav-link" do %><i class="fas fa-edit">施設登録</i><% end %>
          </li>
          <li class="nav-item">
              <%= link_to comments_path, class: "nav-link" do %><i class="fas fa-comments">ノボログ一覧</i><% end %> 
            </li>
         </ul>
      </div>
      <div class="col-md-4">
        <ul class="menu">
          <span>KABESHIRUとは</span>   
          <li class="nav-item">
            <%= link_to about_gyms_path, class: "nav-link" do %><i class="fas fa-question-circle">About</i><% end %> 
          </li>
        </ul>
      </div>
    </div>
    <div class="row justify-content-center">
      <ul class="menu list-group list-group-horizontal">
        <li class="nav-item"><%= link_to "/", class: "nav-link" do %>© tota 2021<% end %></li>
      </ul>
    </div> 
  </div>
</footer>